

<%=link_to "Add Recipes", new_recipe_path%>
<%= form_tag recipes_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %>
    <%= submit_tag "Search" %>
  </p>
<% end %>


<!-- <%= link_to 'My Recipes', controller: 'recipes' %> -->
  <!-- <table>
    <tr>
      <th>Dish</th>
      <th>Cuisine</th>
      <th>Ingredients</th>
      <th>Directions</th>
    </tr> -->

    <!-- <% @recipes.each do |recipe| %>
    <tr>
      <td><%=recipe.dish%></td>
      <td><%=recipe.cuisine%></td>
      <td><%=recipe.ingredients%></td>
      <td><%=recipe.directions%></td>
      <td><%=link_to recipe.dish, recipe_path(recipe)%></td>
    </tr>
    <% end %>
  </table> -->




<!-- <% if @recipes.present? %>
  <%= render @recipes %>
  <% else %>
  <p>Sorry, there are no recipes matching your search.<%=params[:search]%></p>
  <%= link_to 'Add New Recipe', new_recipe_path %>
  <% end %> -->
