

<p>Welcome to the Recipe Index </p>




<% @recipes.each do |recipe| %>
  <p><%=button_to recipe.dish, recipe_path(recipe),:method => :get%></p>
<% end %>

<p><%=button_to 'Home', root_path %></p>
<p><%=button_to 'Search', recipes_search_path, :method => :get%></p>





<!-- <%= button_to 'My Recipes', controller: 'recipes' %> -->
  <!-- <table>
    <tr>
      <th>Dish</th>
      <th>Cuisine</th>
      <th>Ingredients</th>
      <th>Directions</th>
    </tr> -->

    <!-- <% @recipes.each do |recipe| %>
    <tr>
      <td><%=recipe.dish%></td>
      <td><%=recipe.cuisine%></td>
      <td><%=recipe.ingredients%></td>
      <td><%=recipe.directions%></td>
      <td><%=button_to recipe.dish, recipe_path(recipe)%></td>
    </tr>
    <% end %>
  </table> -->
