

<p>Welcome to the Recipe Index </p>




<% @recipes.each do |recipe| %>
<%=link_to recipe.dish, recipe_path(recipe)%>
<% end %>

<p><%=link_to 'Back', root_path %></p>






<!-- <%= link_to 'My Recipes', controller: 'recipes' %> -->
  <!-- <table>
    <tr>
      <th>Dish</th>
      <th>Cuisine</th>
      <th>Ingredients</th>
      <th>Directions</th>
    </tr> -->

    <!-- <% @recipes.each do |recipe| %>
    <tr>
      <td><%=recipe.dish%></td>
      <td><%=recipe.cuisine%></td>
      <td><%=recipe.ingredients%></td>
      <td><%=recipe.directions%></td>
      <td><%=link_to recipe.dish, recipe_path(recipe)%></td>
    </tr>
    <% end %>
  </table> -->
