<p> Please enter your search </p>

<%= form_tag recipes_search_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], :id => 'search_field', placeholder: "Search Recipes" %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<% if @recipes.present? %>
  <%= render @recipes %>
  <% else %>
  <p>Sorry, there are no recipes matching your search. <%=params[:search]%></p>
  <%= link_to 'Add New Recipe', new_recipe_path %>
  <% end %>

  <%=link_to 'Back', root_path %>
