<p>
  <strong>Dish:</strong>
  <%=@recipe.dish %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%=@recipe.cuisine %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%=@recipe.ingredients %>
</p>

<p>
  <strong>Directions:</strong>
  <%=@recipe.directions %>
</p>

<p> Comments </p>
<%= render @recipe.comments%>

<p>Add a comment</p>
<%=render 'comments/form'%>

<p><%=link_to 'Edit', edit_recipe_path(@recipe)%></p>
<p><%=link_to 'Back', root_path %></p>
